name: Docs

on:
  push:
    branches: [main]
    paths:
      - docs/**
      - .github/workflows/build-docs.yml
      - cpp-linter/src/**
      - '*.md'
      - '*/*.md'
  pull_request:
    branches: [main]
    paths:
      - docs/**
      - .github/workflows/build-docs.yml
      - cpp-linter/src/**
      - '*.md'
      - '*/*.md'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  cache-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: rustup update --no-self-update
      - name: Cache .cargo locked resources
        uses: actions/cache@v4
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-docs-cargo-${{ hashFiles('Cargo.lock') }}
      - run: cargo fetch

  build-mkdocs:
    runs-on: ubuntu-latest
    needs: [cache-deps]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Cache .cargo locked resources
        uses: actions/cache/restore@v4
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-docs-cargo-${{ hashFiles('Cargo.lock') }}
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@3fc81674af4165a753833a94cae9f91d8849049f # v1.16.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Install nur
        run: cargo binstall -y nur
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Build docs
        run: nur docs --build
      - name: Upload docs build as artifact
        uses: actions/upload-pages-artifact@v4
        with:
          name: cpp-linter-docs
          path: docs/site

  build-rustdoc:
    runs-on: ubuntu-latest
    needs: [cache-deps]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: rustup update --no-self-update
      - name: Cache .cargo locked resources
        uses: actions/cache/restore@v4
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-docs-cargo-${{ hashFiles('Cargo.lock') }}
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@3fc81674af4165a753833a94cae9f91d8849049f # v1.16.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Install nur
        run: cargo binstall -y nur
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: nur docs rs
      - name: upload rustdoc build as artifact
        uses: actions/upload-artifact@v5
        with:
          path: target/doc
          name: cpp-linter-api_docs

  deploy:
    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    needs: [build-mkdocs]
    runs-on: ubuntu-latest
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifact_name: cpp-linter-docs
