name: Bump-n-Release

# NOTE: The change log is only updated in the remote upon release (in `bump-release` job)

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      component:
        description: The version component to increase
        type: choice
        required: true
        default: patch
        options:
          - major
          - minor
          - patch
          - rc

permissions: {}

jobs:
  bump-release:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.BUMP_N_RELEASE }}
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: true # needed for `git push`
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - run: yarn install
      - uses: cargo-bins/cargo-binstall@80aaafe04903087c333980fa2686259ddd34b2d9 # v1.16.6
      - run: cargo binstall -y git-cliff
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Bump ${{ inputs.component }} version
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_N_RELEASE }}
          GH_TOKEN: ${{ secrets.BUMP_N_RELEASE }}
        run: python .github/workflows/bump_version.py ${{ inputs.component }}
        id: tagged

  update-changelog:
    if: github.event_name != 'workflow_dispatch'
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Generate a release notes
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_REPO: ${{ github.repository }}
          GIT_CLIFF_CONFIG: .config/cliff.toml
        run: >-
          pipx run git-cliff
          --unreleased
          --output "$GITHUB_STEP_SUMMARY"
